.shop {
	&-header {
		position: relative;
		&__image {
			height: 220px;
			object-fit: cover;
			object-position: 32% 78%;
			width: 100%;
		}

		&__modal {
			position: absolute;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.42);

			@include flex(flex-start, flex-start);

			&__content {
				margin: 40px auto;

				& h2 {
					text-align: center;
					font-weight: 400;
					font-size: 3.2rem;
					color: $txt-white-color;
					margin-bottom: 30px;
					margin-bottom: 20px;
				}

				& button {
					font-size: 1.8rem;
					color: $txt-white-color;
					padding: 12px 28px;
					background-color: rgba(148, 146, 143, 0.4);
					border-radius: 20px;
					border: none;
					transform: translateX(5px);
					cursor: pointer;
				}
			}
		}
	}

	&-content {
		width: 80%;
		margin: 70px auto 40px;

		@include flex(flex-start, flex-start);

		@include tablet {
			width: 96%;
		}

		@include mobile {
			flex-wrap: wrap;
		}

		&__product {
			width: 70%;
			margin-right: 60px;

			@include mobile {
				width: 94%;
				margin-right: 0;
			}

			&__title {
				@include flex(flex-start, space-between);
				margin-bottom: 30px;

				// @include tablet {
				// 	align-items: center;
				// }

				@include mobile {
					flex-wrap: wrap;
					margin-left: 16px;
					align-items: center;
				}

				& p {
					font-size: 1.6rem;

					// @include tablet {
					// 	margin-bottom: 0;
					// }

					@include mobile {
						// margin-bottom: 16px;
					}
				}

				& select {
					width: 180px;
					padding: 8px 12px 8px 6px;
					font-size: 1.6rem;
					outline: none;
					border: 1px solid #ccc;
					border-radius: 2px;
					color: #73754a;
				}
			}

			&__list {
				margin: 0 -30px 0 -14px;
			}
		}

		&__side-bars {
			width: 30%;

			@include mobile {
				width: 80%;
				margin: 16px auto 0;
			}

			&__search {
				width: 100%;
				height: 110px;
				box-shadow: 0 0 18px rgb(230, 230, 230);
				// background-color: rgb(223, 223, 223);

				padding-left: 12px;
				margin-bottom: 28px;

				@include tablet {
					height: 156px;
				}

				& h2 {
					padding: 16px 0 12px 0px;
					font-size: 1.6rem;
				}

				&.category {
					height: 100px;
				}

				& li {
					color: $btn-main-color;
					font-size: 1.6rem;
					cursor: pointer;
				}

				&__info {
					@include tablet {
						text-align: center;
					}

					& input {
						padding: 10px 82px 10px 10px;
						outline: none;
						border: 1px solid rgb(221, 221, 221);
						font-size: 1.4rem;

						@include tablet {
							padding: 10px 0px 10px 4px;
						}

						&::placeholder {
							font-size: 1.5rem;
						}
					}
				}

				& button {
					font-size: 1.5rem;
					font-weight: 200;
					padding: 10px 6px;
					border: none;

					@include tablet {
						margin-top: 12px;
					}
				}
			}

			&__product {
				width: 100%;
				height: 460px;
				box-shadow: 0 0 18px rgb(230, 230, 230);
				// background-color: rgb(223, 223, 223);

				padding-left: 12px;
				margin-bottom: 28px;

				& h2 {
					margin-bottom: 20px;
					padding-top: 18px;
					font-size: 1.8rem;
				}

				&__item {
					@include flex(flex-start, flex-start);
					margin-bottom: 16px;

					&__image {
						width: 60px;
						height: 60px;
						border: 1px solid #ccc;
					}

					&__content {
						font-size: 1.4rem;
						margin-left: 12px;
						height: 56px;

						&__title {
							color: #68605f;
							font-weight: 500;
							margin-bottom: 6px;
						}

						&__price {
							color: #7f95c3;

							& del {
								margin-right: 6px;
							}
						}
					}
				}
			}
		}
	}
}
